<footer class="bg-primary text-light text-center py-2">
    <div class="container">
        <div class="row">
            <div class="d-flex gap-3 justify-content-evenly">
                <span>&copy; DWWM14B Blog Jean Dupont 202</span>
                <hr>
                <span class="cursor-pointer"><a href="" class="text-decoration-none text-white">Les conditions générales d'utilisation</a></span>
            </div>
        </div>
    </div>
</footer>