{% extends "themes/base_visitor.html.twig" %}

{% block title %}Contact{% endblock %}

{% block description %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae. {% endblock %}

{% block main %}
    <main>
        {{ include ("components/header_visitor.html.twig", {title: 'Contactez-moi'}) }}

        <div class="row">
            <div class="col-md-6">
            
            </div>
            <div class="col-md-6">
            
            </div>
        </div>
    </main>
{% endblock %}