{% extends "themes/base_user.html.twig" %}

{% block title %}Espace privé{% endblock %}
{% block description %}Espace privé{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Bienvenue {{app.user.firstName}} {{app.user.lastName}}</h1>
{% endblock %}