{% extends "themes/base_visitor.html.twig" %}

{% block title %}- En attande de la vérification de compte par email{% endblock %}

{% block main %}
    <main class="container-fluid text-center">
        <h1 class="my-3 display-5">En attende ...</h1>
        <p class="mt-5">Un email a été envoyé pour la validation de votre compte</p>
    </main>
{% endblock %}